{% extends "base.html" %}
{% block content %}
<script>
    var currentMonth = {{current_month}}
</script>
<div class="row justify-content-center">
    <form class="col-1" method="post" action="/previousMonth">
        <input type="submit" class="btn btn-dark my-1" value="<">
    </form>
    <h1 class="col-2">{{months[current_month-1]}}</h1>
    <form class="col-1" method="post" action="/nextMonth">
        <input type="submit" class="btn btn-dark my-1" value=">">
    </form>
</div>

<table id="" class="table mt-0 table-striped table-hover">
    <thead>
    <tr>
        <th></th>
        {%for i in range(0, numbersOfDays)%}
        <th>{{ weekdays[(firstDay+i)%7]}}</th>
        {%endfor%}
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Name</th>
        {%for i in range(1, numbersOfDays + 1)%}
        <th>{{i}}</th>
        {%endfor%}
    </tr>
    {%for person in people%}
    <tr>
        <td>{{people[person]['name']}}</td>
        {%for i in range(1, numbersOfDays + 1)%}
        <td>{{people[person]['calendars'][current_month|string][i]}}</td>
        {%endfor%}
    </tr>

    {%endfor%}
    </tbody>
</table>
{% endblock %}
